#colorpicker {
	position: absolute;
	z-index: 100;
	display: none;
	border: 1px solid #000000;
	background-color: #cdcdcd;
	top: 0px;
	left: 0px;
	width: 165px;
	height: 140px;
	padding-top: 5px;
}

*html #colorpicker {
	height: 147px;
}

#colorpickerbg {
	position: absolute;
	z-index: 99;
	display: none;
	top: 0px;
	left: 0px;
	width: 166px;
	height: 146px;
}

*html #colorpickerbg {
	height: 155px;
}

.pickacolor {
	padding: 0;
	margin: 3px 3px 10px 3px;
	font-weight: bold;
}

.ulstyle {
	margin: 5px 0 0 0;
	padding: 0px;
}

.ilstyle {
	margin: 2px 2px 3px 4px;
	padding: 0px;
	width: 12px;
	height: 12px;
	line-style: none;
	display: inline;
	float: left;
}

*html .ilstyle {
	margin: 1px 0 2px 4px;
}

.boxstyle {
	outline: 1px solid #000000;
}

*html .boxstyle {
	border: 1px solid #000000;
}

