/* This CSS document is part of a multi-tiered style sheet system.  */
/* This user_skin.css is used to modify styles in prior sheets to create unique, cunstom pages - in this example, unique colors for a user page */
/* All layout information for pages should be placed in the previous "layout" style sheet and not in this document. */
/* Please use this sheet in conjunction with 2 previous "layout" and "skin" sheets. */
      
/* Created by Fabrizio Bolzicco <fabrizio@evectors.it> October 10, 2006 */
/* Modified by fabrizio@evectors.it October 30, 2006 */
/* Modified by fabrizio@evectors.it November 17, 2006 */

#content {
	margin-top: 0;
}

.join {
	padding: 3px;
	margin: 0 10px 0 10px;
	width: 50px;
	border: 1px solid #000000;
	text-align: center;
	background-color: #cdcdcd;
}

/* custom colours and styles */

