pacore/web/cache/
pacore/web/files/
pacore/web/files/rsz/
pacore/log/pa.log
pacore/config/AppConfig.xml
paproject/web/cache/
paproject/web/files/
paproject/web/files/rsz/
paproject/log/pa.log
paproject/config/AppConfig.xml
*.swp
