/* This CSS document is part of a multi-tiered style sheet system.  */
/* This lauout.css is the initial CSS document in the 3 teired system and is used to define the geographic structure of pages. */
/* All aesthetic styling information for pages should be placed in subsequent sheets and not in this document */
      
/* Created by Fabrizio Bolzicco <fabrizio@evectors.it> September 21, 2006 */
/* Modified by marcs@broadbandmechanics.com September 25, 2006 for width matching improvements */
/* Modified by fabrizio@evectors.it September 26, 2006 */
/* Modified by marcs@broadbandmechanics.com September 26, 2006 */
/* Modified by fabrizio@evectors.it October 10, 2006 */
/* Modified by fabrizio@evectors.it October 16, 2006 */

/*test*/

/* Network hat layout */

#peopleaggregator_networks {
  width: 100%;
  height: 27px;
}

.peopleaggregator_networks_dimension {
  width: 1016px;
  margin: 0 auto;
}

/* Page layout below the network hat */

#shadow { 
  width: 1032px;
  height: 600px;
  margin: 0 auto;
  margin-top: -500px;
  z-index: 100;
}

#container { 
  width: 1016px;
  margin: 0 auto;
  margin-top: -600px;
}

#header {
  position: relative;
  width: 1016px;
  height: 150px;
}

#navbar_header {
  width: auto;
  height: 25px;
}

#content  {
  width: auto;
  overflow: auto;
  clear: both;
  margin-top: -714px;
  top: 177px;
}

/* 2-3 column content section below header */

#col_a {
  margin-top: 10px;
  margin-left: 8px;
  width: 200px;
  float: left;
}

*html #col_a {
  margin-left: 4px;
}

#col_b {
  width: 578px;
  margin-left: 11px;
  margin-right: 11px;
  float: left;
  overflow: hidden;
}

#col_c {
  margin-top: 10px;
  width: 200px;
  float: left;
}

#col_d {
  margin-top: 10px;
  width: 800px;
  float: left;
}

#footer {
  position: relative;
  margin: 10px 0 0 0;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 11px;
}
