<?xml version="1.0" encoding="UTF-8"?>
 <config>
   <name>Swim</name>   
   <previewImage>preview.jpg</previewImage>   
   <networkCssFile>swim_skin.css</networkCssFile>
   <groupCssFile></groupCssFile>
   <userCssFile></userCssFile>   
   <headerImage>none</headerImage>
   <userheaderImage>none</userheaderImage>
   <groupheaderImage>none</groupheaderImage>
   <headerImageOk>yes</headerImageOk>
 </config>