<?xml version="1.0" encoding="UTF-8"?>
 <config>
   <name>Street</name>
   <previewImage>preview.gif</previewImage>
   <networkCssFile></networkCssFile>
   <groupCssFile></groupCssFile>
   <userCssFile>street_skin.css</userCssFile>   
   <headerImageOk>yes</headerImageOk>
   <headerImage>none</headerImage>
   <userheaderImage>none</userheaderImage>
   <groupheaderImage>none</groupheaderImage>
 </config>