body {
  background-color: #DFE2E3;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#everythingIsInHere{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

div.centerbox{
  background-color: #6D808B;
  margin: 0px;
  padding: 0px;
  font-family: "arial";
  color: #202040;
}

span.caption{
  color: #202040;
  position: relative;
  top: -1.5em;
  font-family: "arial";
}

.centerbox A:link{
  color: #AAD;
}
.centerbox A:visited{
  color: #AAD;
}

#header{
 margin: 0px;
 padding: 0px;
 text-align: center;
}

h3.important{
  font-size: 1.4em;
  text-align: center;
  color: #FF0000;
}
h3.normal{
  text-align: center;
  color: #607060;
}

#login{
  margin-top: 10px;
  text-align: right;
  background-image: url("/images/logbar.jpg");
  color: #fff;
  height: 25px;
}

#announcement{
  background-color: #FFF;
  margin: 0px;
  padding: 3px;
  font-family: "arial";

}

#atext{
  color: #2d404B;
  text-align: left;
  font-family: "arial";
}

#infocontainer{
  background-color: #FFF;
  margin: 0px;
}

div.infobox{
  border: solid;
  border-color: #6D808B;
  border-size: 2px;
  border-style: double;
  width: 145px;
  height: 145px;
}

#survey{
  background-color: #EEE;
  margin: 0px;
  border-style: double;
  border-color: #A6A5E4;
  height: 180px;
}
h1{
  font-size: 1em;
  color: #2d404B;
}
h5{
  color: #2d404B;
}



#news{
  float: left;
}
#safety{
  float: right;
}
#health{
  margin-left: auto;
  margin-right: auto;
}
#energy{
  float: left;
}
#me{
  float: right;
}
#education{
  margin-left: auto;
  margin-right: auto;
}
.infobox A:link{
  position: relative;
  bottom: 19px;
}
.infobox A:visited{
  position: relative;
  bottom: 19px;
}
